<html lang="<%= config.language %>">
  <head>
    <meta charset="<%= config.charset %>"/>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" media="all" href="<%= paths.themeAsset(themeName, '/style.css?cache=true') %>"/>
    <%- headCommons %>
  </head>
  <body>
    <!-- Content. -->
    <%- content %>

    <% if(app.brand){ %>
      <div class='powered-by'>
        Powered by <a href="<%= app.brandPath %>"><%- app.brand %></a>
      </div>
    <% } %>

    <script>
      // Wrapping `pre` inside of `sub`.
      var elements = document.getElementsByTagName('pre')
      for(var i = 0; i < elements.length; i++){
        var pre = elements[i]
        var parent = pre.parentNode
        var sub = document.createElement('div');
        sub.setAttribute('class', 'sub')
        parent.replaceChild(sub, pre)
        sub.appendChild(pre)
        // if(parent && parent.nodeName && parent.nodeName.toLowerCase() == 'pre')
        //   code.className += ' prettyprint'
      }
    </script>
    <%- bottomCommons %>
  </body>
</html>