<!-- Title -->
<% if(config.title){ %>
  <h1><a href="<%= paths.home() %>"><%- config.title %></a></h1>
<% } %>

<!-- Navigation -->
<% if(!_(config.navigation).isEmpty()){ %>
  <p>
    <% _(config.navigation).each(function(path, title){ %>
      <% if(path == currentPath){ %>
        <a href="<%= path %>" class="selected"><%= title %></a>
      <% }else{ %>
        <a href="<%= path %>"><%= title %></a>
      <% } %>
    <% }) %>
  </p>
<% } %>

<!-- Posts. -->
<ul>
  <% _(pages).each(function(page){ %>
    <li><a href='<%= paths.page(page) %>'><%= page.title %></a></li>
  <% }) %>
</ul>