TODO add not found

<section id="river" role="main">
  <div id="notice"><span>:(</span><br><br>Not found.</div>
</section>

<article id="post-0" class="post error404 not-found">
  <h1 class="entry-title"><?php _e( 'Not Found', 'boilerplate' ); ?></h1>
  <div class="entry-content">
    <p><?php _e( 'Apologies, but no results were found for the requested archive. Perhaps searching will help find a related post.', 'boilerplate' ); ?></p>
    <?php get_search_form(); ?>
  </div><!-- .entry-content -->
</article><!-- #post-0 -->
