<section id="river" role="main">
  <!-- Top time. -->
  <% if(post.date){ %>
    <header id="begin">
      <time datetime="<%= formatDateForWeb(post.date) %>" id="top_time"><%= formatDateForHuman(post.date) %></time>
    </header>
  <% } %>

  <!-- Post. -->
  <article class="post">
    <h2 class="entry-title">
      <a href="<%= post.link || paths.post(post) %>" class="no-link title"><%- post.title %></a>
    </h2>

    <!-- Content. -->
    <div class="entry-content">
      <% if(post.type == 'text'){ %>
        <%- post.html %>
      <% }else if(post.type == 'gallery'){ %>
        <% if(post.html){ %><%- post.html %><% } %>
        <% _(post.images).each(function(image){ %>
          <p>
            <%- imageTag(image) %>
          </p>
        <% }) %>
      <% } %>
      <% if(post.link){ %>
        <p><a href='<%= post.link %>'><%= t('readMore') %>...</a></p>
      <% } %>
    </div>

    <!-- Comments. -->
    <% if(showComments){ %>
      <div id="disqus_thread"></div>
    <% } %>
  </article>

  <!-- Pagination. -->
  <nav class="pagination">
    <span class="prev">
      <a href="<%= paths.home() %>" class="back_to_blog">&larr;&nbsp;&nbsp;&nbsp;<%= t('readMore') %></a>
    </span>
  </nav>
</section>