<section id="river">
  <!-- If there's a hero unit - displaying it instead of time. -->
  <% if(hero){ %>
    <!-- Hero unit, reusing styles from post. -->
    <article class="post hero">
      <div class="entry-content">
        <%- hero.html %>
      </div>
    </article>
  <% }else{ %>
    <!-- Top Time. -->
    <header id="begin">
      <time datetime="<%= formatDateForWeb(date) %>" id="top_time"><%= formatDateForHuman(date) %></time>
    </header>
  <% } %>

  <!-- Posts. -->
  <% if(config.listing == 'thumb'){ %>
    <!-- Thumb is experimental view, using heavy machinery here. -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>
    <script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.min.js"></script>

    <div class="posts-thumb">
      <div class="posts-thumb-inner">
        <% _(posts).each(function(post){ %>
          <!-- Post. -->
          <% var postLink = post.link || paths.post(post) %>
          <article class="post-thumb">
            <div class="post-thumb-image">
              <a href="<%= postLink %>">
                <%- imageTag(mainImage(post), {format: 'thumb', title: post.title})%>
              </a>
            </div>
            <div class="post-thumb-title">
              <a href="<%= postLink %>">
                <%= post.title %>
              </a>
            </div>
          </article>
        <% }) %>
      </div>
    </div>

    <script type="text/javascript">
      imagesLoaded('.posts-thumb-inner', function(){
        $('.posts-thumb-inner').masonry({
      		itemSelector : '.post-thumb',
      		columnWidth  : 303,
      		gutter  : 50
      	})
      })
    </script>
  <% }else{ %>
    <% _(posts).each(function(post){ %>

      <!-- Post. -->
      <article class="post">

        <!-- Title. -->
        <h2 class="entry-title">
          <a href="<%= post.link || paths.post(post) %>" class="no-link title"><%= post.title %></a>
        </h2>

        <!-- Text. -->
        <div class="entry-content">
          <% var preview = post.htmlPreviews.default %>
          <% if(post.type == 'text'){ %>
            <%- preview.html %>
            <% if(post.link){ %>
              <p><a href='<%= post.link %>'><%= t('readMore') %>...</a></p>
            <% }else if(preview.isTruncated){ %>
              <p><a href='<%= paths.post(post) %>'><%= t('readMore') %>...</a></p>
            <% } %>
          <% }else if(post.type == 'gallery'){ %>
            <% if(preview.html){ %><%- preview.html %><% } %>
            <% _(post.imagesPreview).each(function(image){ %>
              <p>
                <%- imageTag(image) %>
              </p>
            <% }) %>
            <% if(post.link){ %>
              <p><a href='<%= post.link %>'><%= t('readMore') %>...</a></p>
            <% }else if(post.imagesPreviewTruncated || preview.isTruncated){ %>
              <p><a href='<%= paths.post(post) %>'><%= t('readMore') %>...</a></p>
            <% } %>
          <% } %>
        </div>
      </article>
    <% }) %>
  <% } %>

  <!-- Pagination. -->
  <% if(previousPath || nextPath){ %>
    <nav class="pagination">
      <!-- <span class="first">
        <a href="{{firstPath}}">First</a>
      </span> -->
      <% if(previousPath){ %>
        <span class="prev">
          <a href="<%= previousPath %>" rel="prev">←&nbsp;&nbsp;&nbsp;<%= t('previousPosts') %></a>
        </span>
      <% } %>
      <!-- <span class="page current">
        {{currentPage}}
      </span> -->
      <% if(nextPath){ %>
        <span class="next">
          <a href="<%= nextPath %>" rel="next"><%= t('nextPosts') %>&nbsp;&nbsp;&nbsp;→</a>
        </span>
      <% } %>
      <!-- <span class="last">
        <a href="{{lastPath}}">Last</a>
      </span> -->
    </nav>
  <% } %>

</section>